/* cambio el estilo del span */
.container > span{
  color: white;
  font-weight: bold;
  margin-left: .5em;
}

h1{
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

/* cambio el estilo del navbar */
.navbar-brand{
  font-weight: bold;
  font-size: 1.5em;
  color: black;
}

/* cambio el estilo de los links */
.nav-link{
  color: black;
  font-size: 1em;
}